In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Addresses_in_the_City_of_Los_Angeles.csv")

In [6]:
df.head(10)

,HSE_ID,PIN,PIND,HSE_NBR,HSE_FRAC_NBR,HSE_DIR_CD,STR_NM,STR_SFX_CD,STR_SFX_DIR_CD,UNIT_RANGE,ZIP_CD,LAT,LON,X_COORD_NBR,Y_COORD_NBR,ASGN_STTS_IND,ENG_DIST,CNCL_DIST
0,772643,150A187 366,150A187-366,1769,NaN,N,IVAR,AVE,NaN,NaN,90028,34.10369,-118.32831,6.462278e+06,1.860278e+06,U,C,13.0
1,1044886,111B141 217,111B141-217,260,NaN,S,6TH,AVE,NaN,NaN,90291,33.99944,-118.47219,6.418545e+06,1.822515e+06,A,W,11.0
2,1042028,096B169 869,096B169-869,8802,NaN,S,BELFORD,AVE,NaN,NaN,90045,33.95675,-118.38381,6.445274e+06,1.806866e+06,A,W,11.0
3,1040000,147B197 608,147B197-608,4610,NaN,W,MAUBERT,AVE,NaN,NaN,90027,34.09890,-118.29008,6.473862e+06,1.858509e+06,A,C,13.0
4,1042029,096B169 869,096B169-869,8802,1/2,S,BELFORD,AVE,NaN,NaN,90045,33.95675,-118.38381,6.445274e+06,1.806866e+06,A,W,11.0
5,1039775,192B101 758,192B101-758,8320,NaN,N,CHELSEA,LANE,NaN,NaN,91304,34.22081,-118.60988,6.377300e+06,1.903297e+06,A,V,12.0
6,1045065,151-5A189 353,151-5A189-353,2031,NaN,N,CHEREMOYA,AVE,NaN,NaN,90068,34.10839,-118.32073,6.464579e+06,1.861981e+06,L,C,4.0
7,1066012,129B169 1343,129B169-1343,9039,NaN,W,CRESTA,DR,NaN,NaN,90035,34.04616,-118.38767,6.444227e+06,1.839407e+06,A,W,5.0
8,1040871,108B213 259,108B213-259,5500,NaN,S,FORTUNA,ST,NaN,NaN,90011,33.99288,-118.24543,6.487270e+06,1.819882e+06,A,C,9.0
9,1040385,174B121 796,174B121-796,5821,NaN,N,YOLANDA,AVE,NaN,NaN,91356,34.17615,-118.54091,6.398062e+06,1.886926e+06,A,V,3.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035138 entries, 0 to 1035137
Data columns (total 18 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   HSE_ID          1035138 non-null  int64
 1   PIN             1035138 non-null  object
 2   PIND            1035138 non-null  object
 3   HSE_NBR         1035138 non-null  int64
 4   HSE_FRAC_NBR    61350 non-null    object
 5   HSE_DIR_CD      1034505 non-null  object
 6   STR_NM          1035136 non-null  object
 7   STR_SFX_CD      1016496 non-null  object
 8   STR_SFX_DIR_CD  2226 non-null     object
 9   UNIT_RANGE      20604 non-null    object
 10  ZIP_CD          1035138 non-null  int64
 11  LAT             1035138 non-null  float64
 12  LON             1035138 non-null  float64
 13  X_COORD_NBR     1035138 non-null  float64
 14  Y_COORD_NBR     1035138 non-null  float64
 15  ASGN_STTS_IND   1035138 non-null  object
 16  ENG_DIST        1035059 non-null  object
 17  CNCL_DIST       1034030 non-null  float64
dtypes: float64(5), int64(3), object(10)
memory usage: 142.2+ MB